.my-icon {
    --sds-c-icon-color-foreground: #442200;
    --sds-c-icon-color-background: #FEEFCB;
}
.my-text{
    color: #442200;
    font-size: 1.4em;
    font-family: Roboto;
    font-weight: bold;
}
.my-notification{
    background-color: #FEEFCB;
}
.my-background{
    --sds-c-alert-color-background :#FEEFCB;
    --sds-c-alert-image-background :#FEEFCB;
    --sds-c-toast-color-background :#FEEFCB;
    }