.body{
    background-color:rgb(0, 118, 206);
    /*height:125px;*/
    margin: 0px;
    padding: 0px ;
     overflow: hidden;
    }
    
    p{ 
        font-size:20px;
        color: #ffffff;
        text-align: center;  
    }
   .logo{
       padding: 1rem;
   }