/*.red {
    
    color:#D8000C;
    font-weight: bold;
}
.green {

    color:#4BB543;
    font-weight: bold;
}
.orange {

    color:#ffae42;
    font-weight: bold;
}
.black{
    color:black;
    font-weight: bold;
}*/